  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Creaciones minini</span>&nbsp;&nbsp;
      <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" >Login</a>&nbsp;&nbsp;
      <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>&nbsp;&nbsp;
      <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>&nbsp;&nbsp;
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

<router-outlet></router-outlet>
